################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/1D_transport/FileContentIndex/0d4db484-3082-4401-a883-63aa8600de4e.vsidx
/.vs/1D_transport/FileContentIndex/50cf2b7c-450d-4a40-b027-25f3e0cb4b08.vsidx
/.vs/1D_transport/FileContentIndex/a93f6cd1-685c-4c39-825b-8a2e4f5da40f.vsidx
/.vs/1D_transport/FileContentIndex/d475f25c-ed51-4b38-be22-9ac8c72b4ae0.vsidx
/.vs/1D_transport/FileContentIndex/fabf4761-5c65-4d79-8e9c-3449ed178c3a.vsidx
/.vs/1D_transport/FileContentIndex/8eb4c37f-4ad9-4299-a112-cab8f63165a7.vsidx
