################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/1D_transport/FileContentIndex/0d4db484-3082-4401-a883-63aa8600de4e.vsidx
/.vs/1D_transport/FileContentIndex/50cf2b7c-450d-4a40-b027-25f3e0cb4b08.vsidx
/.vs/1D_transport/FileContentIndex/a93f6cd1-685c-4c39-825b-8a2e4f5da40f.vsidx
/.vs/1D_transport/FileContentIndex/d475f25c-ed51-4b38-be22-9ac8c72b4ae0.vsidx
/.vs/1D_transport/FileContentIndex/fabf4761-5c65-4d79-8e9c-3449ed178c3a.vsidx
/.vs/1D_transport/FileContentIndex/8eb4c37f-4ad9-4299-a112-cab8f63165a7.vsidx
/.vs/1D_transport/FileContentIndex/504b0d9b-c9e3-409e-86f8-927982182047.vsidx
/.vs/1D_transport/FileContentIndex/ac6fb7cb-7c50-47a6-8808-9a806ddbf95f.vsidx
/.vs/1D_transport/FileContentIndex/0f437b15-0f12-4771-99ff-b88930f97649.vsidx
/.vs/1D_transport/FileContentIndex/26ea9922-20c4-4944-8952-cd646009ab29.vsidx
/.vs/1D_transport/FileContentIndex/dbe02525-4c31-4691-9216-ebfd6044412a.vsidx
/.vs/1D_transport/FileContentIndex/93573e18-38f3-4cf5-a946-013735eaf912.vsidx
/.vs/1D_transport/FileContentIndex/22769315-805c-4b8f-99b8-29355b3555be.vsidx
/.vs/1D_transport/FileContentIndex/3c6281b7-028b-4529-8ddc-b21accc0fa4d.vsidx
/.vs/1D_transport/FileContentIndex/482f93dd-8322-48ac-b928-7b5f5ad59e29.vsidx
/.vs/1D_transport/FileContentIndex/4e0ba9dc-0203-47e0-bbea-d7a4aa7e48fa.vsidx
/.vs/1D_transport/FileContentIndex/b0bae7e8-9d4e-48ca-a5b6-cdfad251efd9.vsidx
/.vs/1D_transport/FileContentIndex/dd9af036-17e1-4688-910b-70bdcb606152.vsidx
